#ignore css map
*.css.map

#ignore scss
*.scss

#ignore workspace
main.code-workspace

#ignore favicons
favicons/

#ignore development js
script.js

#ignore development js
s.js

#ignore todo.txt
todo.txt

#ignore todo.txt
.DS_Store