$primaryText: #bf7aff;
$textBlue: #4c61f5;
$buttonBlueBackground: #4c60f562;
$lightPurple: #7c7aff;
$indigo: #6610f2;
$indigoalpha: #6710f260;
$bodyBackground: #0f1019;
$red: rgb(255, 0, 0);
$green: rgb(0, 255, 0);
$blue: rgb(0, 0, 255);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$yellow: rgb(255, 255, 0);
$aqua: rgb(0, 255, 255);
$pink: rgb(255, 0, 255);
$blackalpha: rgba(0, 0, 0, 0.6);
$googleBlack: #202124;
$googleGray: #303134;
$navbar: #212327;
$grey-light: #f2f7f9;
$grey: #ecedf3;
$black-blue: #1f2029;
$black-blue-light: #353746;
$black-blue-light-2: #404255;
$black-blue-light-3: #4b4d64;
$black-light: #424455;