$primaryText: #bf7aff;
$textBlue: #4c61f5;
$buttonBlueBackground: #4c60f562;
$lightPurple: #7c7aff;
$indigo: #6610f2;
$indigoalpha: #6710f260;
$bodyBackground: #0f1019;
$red: rgb(255, 0, 0);
$green: rgb(0, 255, 0);
$blue: rgb(0, 0, 255);
$white: rgb(255, 255, 255);
$offwhite: rgb(189, 189, 189);
$black: rgb(0, 0, 0);
$yellow: rgb(255, 255, 0);
$aqua: rgb(0, 255, 255);
$pink: rgb(255, 0, 255);
$blackalpha: rgba(0, 0, 0, 0.6);
$googleBlack: #202124;
$googleGray: #303134;
$navbar: #212327;
$grey-light: #f2f7f9;
$grey: #ecedf3;
$black-blue: #1f2029;
$black-blue-light: #353746;
$black-blue-light-2: #404255;
$black-blue-light-3: #4b4d64;
$black-light: #424455;
$jinxdark: #409add;
$jinxlight: #30a8f0;
$lightgray: #b1b1b1;
$peach: #FFCAC9;
$purple-blue: #737DFE;


//gradients

//secondary color
$sec-gradient: linear-gradient(242.18deg, rgba(57, 208, 216, 0.08) 68.05%, rgba(57, 208, 216, 0.02) 86.71%), rgb(12, 9, 38); 
$sec-box-shadow: rgba(171, 196, 255, 0.12) 8px 0px 48px;

$sec-dark-blue: rgba(57, 208, 216, 0.08);
$sec-dark-blue-2: rgba(57, 208, 216, 0.02);
$sec-dark-blue-3: rgb(12, 9, 38);
$sec-box-shadow: rgba(171, 196, 255, 0.12);

//primary color
$prim-from: #0c0927;
$prim-to: #110d36;
$prim-stops: #0c0927, (#110d36, rgba(12,9,39,0));

$prim-gradient: linear-gradient(to bottom, #0c0927, (#110d36, rgba(12,9,39,0)));

//tertiary color
$ter-col-1: rgba(0, 182, 191, 0.15);
$ter-col-2: rgba(27, 22, 89, 0.1);
$ter-col-3: #18134D;
$ter-col-4: #1B1659;

$ter-gradient: linear-gradient(140.14deg, rgba(0, 182, 191, 0.15) 0%, rgba(27, 22, 89, 0.1) 86.61%), linear-gradient(321.82deg, #18134D 0%, #1B1659 100%);


