
.secuter::before {
    font-family: unicons;
    content: "\e969  ";
  }
  
  .btc::before {
    font-family: unicons;
    content: "\e8c3  ";
  }
  
  .html::before {
    font-family: unicons;
    content: "\ec8b  ";
  }
  
  .computer::before {
    font-family: unicons;
    content: "\e969  ";
  }
  
  .technology::before {
    font-family: unicons;
    content: "\ea0f  ";
  }
  
  .csharp::before {
    font-family: unicons;
    content: "\ec50  ";
  }
  
  .gaming::before {
    font-family: unicons;
    content: "\e970  ";
  }
  
  .coding::before {
    font-family: unicons;
    content: "\eb30  ";
  }
  
  .technology::before {
    font-family: unicons;
    content: "\ebfb  ";
  }
  
  .js::before {
    font-family: unicons;
    content: "\ec18  ";
  }
  
  .css::before {
    font-family: unicons;
    content: "\ec8d  ";
  }

  .github::before {
    color: $peach;
    font-family: unicons;
    content: "\ec1d  ";
  }
  
  .twitter::before {
    color: $peach;
    font-family: unicons;
    content: "\ec0c  ";
  }
  
  .email::before {
    color: $peach;
    font-family: unicons;
    content: "\ea0f  ";
  }
  
  .emailSmall::before {
    font-family: unicons;
    content: "\ea0f  ";
  }
  
  .age::before {
    font-family: unicons;
    content: "\eaf8  ";
  }
  
  .youtube::before {
    color: $peach;
    font-family: unicons;
    content: "\ec06  ";
  }
  
  .steam::before {
    color: $peach;
    font-family: unicons;
    content: "\e9a5  ";
  }
  
  .discord::before {
    color: $peach;
    font-family: unicons;
    content: "\ec8f  ";
  }

  .bitcoin::before {
    font-family: unicons;
    content: "\e8c3  ";
  }
  
  .paypal::before {
    color: $peach;
    font-family: unicons;
    content: "\ec14  ";
  }
  
  .eth::before {
    font-family: unicons;
    content: "\e982  ";
  }

  .ethp::before {
    color: $peach;
    font-family: unicons;
    content: "\e982  ";
  }

  .bitcoinp::before {
    color: $peach;
    font-family: unicons;
    content: "\e8c3  ";
  }

  .skills::before {
    font-family: unicons;
    content: "\e8c7  ";
  }

  .programming::before {
    font-family: unicons;
    content: "\ec50  ";
  }

  .programs::before {
    font-family: unicons;
    content: "\eabf  ";
  }

  .visual::before {
    font-family: unicons;
    content: "\ec67  ";
  }

  .linkedin::before {
    font-family: unicons;
    content: "\ec03  ";
    color: $peach;
  }

  .windows::before {
    font-family: unicons;
    content: "\ecb4";
    font-size: 1.5rem;
  }
  
  .notepad::before {
    font-family: unicons;
    content: "\e8fc";
    font-size: 1.5rem;
  }
  
  .encodeapp::before {
    font-family: unicons;
    content: "\e855";
    font-size: 1.5rem;
  }

  .theme::before {
    font-family: unicons;
    content: "\ead4";
    font-size: 1.5rem;
  }

  .cookiesapp::before {
    font-family: unicons;
    content: "\ebe6";
    font-size: 1.5rem;
  }

  .notification::before {
    font-family: unicons;
    content: "\ebdb";
    font-size: 1.5rem;
  }

  .wifi::before {
    font-family: unicons;
    content: "\e97f";
    font-size: 1rem;
  }