/* SCSS IMPORTS */
@import "./colors";
@import "./mixins";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext");

@font-face {
  font-family: "unicons";
  src: url("../other/unicons.ttf");
}

/* ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* NAVBAR BACKGROUND */
header {
  @include flexCenter();
  height: 7vh;
  width: 100%;
  background: $navbar;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  top: 0vh;
  position: fixed;
}

html {
  cursor: url("../images/cursor.webp"), default;
  overscroll-behavior-y: none;
  background-color: $googleBlack;
  text-align: center;
}

.pointer {
  cursor: url("../images/pointer.webp"), pointer;
}

/* BODY */
body {
  background: $googleBlack;
  color: white;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  overscroll-behavior-y: none;
  white-space: nowrap;
}

@media (min-width: 1500px) {
  main {
    @include flexCenter();
    height: 100%;
    width: 100%;
    min-height: 94vh;
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1500px) {
  main {
    @include flexCenter();
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }
}

::selection {
  color: $jinxlight;
}

h1 {
  color: $indigo;
  text-shadow: 0px 10px 10px $black;
  text-align: center;
  font-weight: bolder;
}

/* THIS MAKES CUSTOM SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $lightPurple;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $indigo;
}

footer {
  @include flexCenter();
  height: 6vh;
  width: 100%;
  color: $lightPurple;
  background: $navbar;
  z-index: 1000;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.4);
}

a {
  z-index: 1;
  position: relative;
  color: $white;
  text-decoration: none;
}

a:hover {
  cursor: url("../images/pointer.webp"), pointer;
}

@media (max-width: 1500px) {
  .container {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    height: 50%;
    background-color: $navbar;
    border-radius: 20px;
    border-color: $indigo;
    border-width: 1px;
    border-style: solid;
    padding: 2rem;
    overflow-y: scroll;
    backface-visibility: hidden;
    margin-top: 6vh;
  }
  .mobilenodisplay{
      display: none;
  }
}

@media (min-width: 1500px) {
  .container {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 25%;
    height: 50%;
    background-color: $navbar;
    border-radius: 20px;
    border-color: $indigo;
    border-width: 1px;
    border-style: solid;
    padding: 2rem;
    overflow-y: scroll;
    backface-visibility: hidden;
    margin-top: 6vh;
    margin: 2rem;
  }
}

$field-color: rgba(255, 255, 255, 0.08);
$field-height: 65px;
$field-border-radius: 8px;

.settings {
  position: relative;
  height: auto;
  widows: 100%;
  display: flex;
  flex-direction: column;

  .setting {
    position: relative;
    width: 100%;
    height: calc(#{$field-height} - 10px);
    background: $field-color;
    border-radius: $field-border-radius;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: #fff;
    margin-bottom: 8px;
    input {
      opacity: 0;
      position: absolute;
      + label {
        user-select: none;
        &::before,
        &::after {
          content: "";
          position: absolute;
          transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
          transform: translateY(-50%);
          top: 50%;
          right: 10px;
          cursor: pointer;
        }
        &::before {
          height: 30px;
          width: 50px;
          border-radius: 30px;
          background: rgba(214, 214, 214, 0.434);
        }
        &::after {
          height: 24px;
          width: 24px;
          border-radius: 60px;
          right: 32px;
          background: #fff;
        }
      }
      &:checked {
        & + label:before {
          background: #5d68e2;
          transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
        }
        & + label:after {
          right: 14px;
        }
      }
      &:focus {
        + label:before {
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
        }
      }
      &:disabled {
        + label {
          &:before,
          &:after {
            cursor: not-allowed;
          }
          &:before {
            background: #4f4f6a;
          }
          &:after {
            background: #909090;
          }
        }
      }
    }
  }
}

.range__slider {
  position: relative;
  width: 100%;
  height: calc(#{$field-height} - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: $field-color;
  border-radius: $field-border-radius;
  margin: 30px 0;
  transition: ease 0.01s;
  scroll-behavior: smooth;
  &::before,
  &::after {
    position: absolute;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
  }
  &::before {
    content: attr(data-min);
    left: 10px;
  }
  &::after {
    content: attr(data-max);
    right: 10px;
  }
  .length__title::after {
    content: attr(data-length);
    position: absolute;
    right: -16px;
    font-variant-numeric: tabular-nums;
    color: #fff;
  }
}

.options {
  width: 100%;
  height: auto;
  margin: 50px 0;
}

$range-handle-color: linear-gradient(135deg, $textBlue 0%, $lightPurple 100%);
$range-handle-color-hover: linear-gradient(135deg, $textBlue 0%, $lightPurple 100%);
$range-handle-size: 20px !default;

$range-track-color: linear-gradient(135deg, $textBlue 0%, $lightPurple 100%) !default;
$range-track-height: 2px !default;

$range-label-width: 60px !default;

#slider {
  -webkit-appearance: none;
  width: calc(100% - (#{$range-label-width + 10px}));
  height: $range-track-height;
  border-radius: 5px;
  background: $textBlue;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  // Range Handle
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: linear-gradient(135deg, $textBlue 0%, $lightPurple 100%);
    background-color: linear-gradient(135deg, $textBlue 0%, $lightPurple 100%);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    &:hover {
      background: linear-gradient(135deg, $textBlue 0%, $lightPurple 100%);
      transform: scale(1.2);
    }
  }
  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: linear-gradient(135deg, $textBlue 0%, $lightPurple 100%);
    cursor: pointer;
    transition: background 0.15s ease-in-out;
    &:hover {
      background: linear-gradient(135deg, $textBlue 0%, $lightPurple 100%);
    }
  }
}

.btn.generate {
  user-select: none;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border-radius: $field-border-radius;
  color: #fff;
  border: none;
  background-image: linear-gradient(90deg, $textBlue 0%, $lightPurple 100%);
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 150ms ease;
  &:active {
    transform: translateY(-3%);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
  }
}

.support {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}

.result {
  position: relative;
  width: 100%;
  height: 65px;
  overflow: hidden;
  &__info {
    &.right {
      right: 8px;
    }
    &.left {
      left: 8px;
    }
    position: absolute;
    bottom: 4px;
    color: #fff;
    font-size: 0.8rem;
    transition: all 150ms ease-in-out;
    transform: translateY(200%);
    opacity: 0;
  }
  &__viewbox {
    width: 100%;
    height: 100%;
    background: $field-color;
    border-radius: $field-border-radius;
    color: #fff;
    text-align: center;
    line-height: 65px;
  }
  #copy-btn {
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 38px;
    height: 38px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    z-index: 2;
    &:active {
      box-shadow: 0 0 0 200px rgba(255, 255, 255, 0.08);
    }
  }
  &:hover {
    #copy-btn {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.35);
    }
  }
}
.field-title {
  position: absolute;
  top: -10px;
  left: 8px;
  transform: translateY(-50%);
  font-weight: 800;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 0.65rem;
  pointer-events: none;
  user-select: none;
}
