/* SCSS IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "unicons";
  src: url("../other/unicons.ttf");
}

/* ALL */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

/* NAVBAR BACKGROUND */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 7vh;
  width: 100%;
  background: #212327;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  top: 0vh;
  position: fixed;
}

html {
  cursor: url("../images/cursor.webp"), default;
  overscroll-behavior-y: none;
  background-color: #202124;
  text-align: center;
}

.pointer {
  cursor: url("../images/pointer.webp"), pointer;
}

/* BODY */
body {
  background: #202124;
  color: white;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  overscroll-behavior-y: none;
  white-space: nowrap;
}

@media (min-width: 1500px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 94vh;
  }
}

@media (max-width: 1500px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }
  .mobilenodisplay {
    display: none;
  }
}

::-moz-selection {
  color: #30a8f0;
}

::selection {
  color: #30a8f0;
}

h1 {
  color: #6610f2;
  text-shadow: 0px 10px 10px black;
  text-align: center;
  font-weight: bolder;
}

/* THIS MAKES CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7c7aff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6610f2;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 6vh;
  width: 100%;
  color: #7c7aff;
  background: #212327;
  z-index: 1000;
  -webkit-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.4);
}

img {
  border: solid 2px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  max-height: 100%;
  max-width: 100%;
  z-index: 10;
}

.frame {
  background-color: #ddc;
  border: solid 1.5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4) inset, 10px 10px 10px black;
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4) inset, 10px 10px 10px black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40vh;
  width: 40vh;
  padding: 1vmin;
  text-align: center;
  position: relative;
  z-index: 10;
}

a {
  z-index: 1;
  position: relative;
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: url("../images/pointer.webp"), pointer;
}

table {
  top: 1vh;
  margin-top: 6%;
  margin-bottom: 2%;
}

.margin {
  margin-left: 2rem;
  margin-right: 2rem;
  z-index: 10;
}

@media all and (max-width: 1024px) {
  tr {
    display: block;
    text-align: center;
    padding: 1em;
  }
  td {
    display: inline;
    margin: 1em;
  }
}

#holyghost {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(116deg, #737DFE, #FFCAC9);
}

.anicolor {
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  color: #4c61f5;
  background-image: -webkit-linear-gradient(90deg, #4c61f5, #7c7aff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 6.5s infinite linear;
  animation: hue 6.5s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
/*# sourceMappingURL=nft.css.map */