@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* SCSS IMPORTS */
@font-face {
  font-family: "unicons";
  src: url("../other/unicons.ttf");
}

/* ALL */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

/* NAVBAR BACKGROUND */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 7vh;
  width: 100%;
  background: #212327;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  top: 0vh;
  position: fixed;
}

html {
  cursor: url("../images/cursor.webp"), default;
  overscroll-behavior-y: none;
  background-color: #202124;
  text-align: center;
}

.pointer {
  cursor: url("../images/pointer.webp"), pointer;
}

/* BODY */
body {
  background: #202124;
  color: white;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  overscroll-behavior-y: none;
  white-space: nowrap;
}

@media (min-width: 1500px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 94vh;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
  }
}

@media (max-width: 1500px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }
  .right {
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  .left {
    display: none;
  }
  .nowplaying {
    font-size: 1.3rem;
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastplaying {
    font-size: 1.3rem;
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

::-moz-selection {
  color: #30a8f0;
}

::selection {
  color: #30a8f0;
}

h1 {
  color: #6610f2;
  text-shadow: 0px 10px 10px black;
  text-align: center;
  font-weight: bolder;
}

/* THIS MAKES CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7c7aff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6610f2;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 6vh;
  width: 100%;
  color: #7c7aff;
  background: #212327;
  z-index: 1000;
  -webkit-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.4);
}

.cards {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8vh;
  margin-bottom: 2vh;
  width: 100%;
}

hr {
  margin: 2rem;
  width: 50%;
}

.lucienplaying {
  max-height: 60vh;
  min-height: 40vh;
  min-width: 60%;
  max-width: 60%;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  background-color: #212327;
  border-radius: 20px;
  border-color: #6610f2;
  border-width: 1px;
  border-style: solid;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

h2 {
  font-size: 2.3rem;
  color: #7c7aff;
  text-shadow: 10px 10px 10px black;
}

.fat {
  font-weight: bolder;
  color: #4c61f5;
}

.notfat {
  font-weight: normal;
  color: #b1b1b1;
}

@media (min-width: 1500px) {
  .nowplaying {
    font-size: 1.7rem;
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastplaying {
    font-size: 1.7rem;
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .right {
    min-height: 100%;
    max-height: 100%;
    display: block;
    padding: 1rem;
    max-width: 60%;
    min-width: 60%;
    overflow-x: hidden;
    text-align: left;
    border-left: 1px solid #6610f2;
    overflow-y: scroll;
  }
  .blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
  .noblur {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 0px 20px black;
            box-shadow: 0px 0px 20px black;
  }
  .left {
    position: relative;
    min-height: 100%;
    max-width: 40%;
    min-width: 40%;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
}

.yournowplaying {
  max-height: 80%;
  max-width: 60%;
  min-width: 60%;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  background-color: #212327;
  border-radius: 20px;
  border-color: #6610f2;
  border-width: 1px;
  border-style: solid;
  padding: 2rem;
  overflow-y: scroll;
}

.hidden {
  display: none;
}

/** Buttons **/
.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.btn:hover {
  background: #1ecd97;
  color: #333;
}

.btn--login {
  margin: 0 auto;
}

/** Now Playing **/
.now-playing__name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.now-playing__artist {
  margin-bottom: 1em;
}

.now-playing__status {
  margin-bottom: 1em;
}

.now-playing__img {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 45%;
}

.now-playing__img img {
  max-width: 80vmin;
  width: 100%;
}

.now-playing__side {
  margin-left: 5%;
  width: 45%;
}

/** Progress **/
.progress {
  border: 0.15em solid #eee;
  height: 1em;
}

.progress__bar {
  background-color: #eee;
  border: 0.1em solid transparent;
  height: 0.75em;
}

/** Background **/
.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  -webkit-filter: blur(8em) opacity(0.6);
          filter: blur(8em) opacity(0.6);
  position: absolute;
}

.main-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.main-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

a {
  z-index: 1;
  position: relative;
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=spotify.css.map */